header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  height: 60px;
  background: rgba(72, 4, 76, 0.201); 
  position: sticky;
  top: 0;
  z-index: 100;
}

.link-left-container {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}

.link-right-container {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}