header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
  max-width: 600px;
  margin: 0 auto;
}

.link-left-container {
  display: flex;
  gap: 2rem;
}

.link-right-container {
  display: flex;
  gap: 2rem;
}