header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  height: 60px;
}

.link-left-container {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}

.link-right-container {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}